* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}

body{
    background-color: rgba(194, 194, 194, 0.74);
}

main{
    background-color: white;
    margin: 10px;
    border-radius: 15px;
    padding-bottom: 10px;
}

#imglogo{
    width: 281.5px;
    height: 146.5px;
    display: block;
    margin: auto;
}

#titulo{
    text-align: center;
    margin: 10px;
    color: rgb(230, 4, 4);
    font-weight: normal;
}

#p1{
   text-align: justify;
   margin: 15px 15px 15px 15px;
   padding-bottom: 15px;
   border-bottom: 2px solid rgba(248, 4, 4, 0.562);
}

#p2{
    text-align: justify;
    margin: 15px 15px 15px 15px;
    padding-bottom: 15px;
    border-bottom: 2px solid rgba(248, 4, 4, 0.562);
 }

#p3{
    text-align: justify;
    margin: 15px 15px 15px 15px;
 }

 #botao{
    text-align: center;
    margin: 30px;
 }

main a{
    text-decoration: none;
    display: inline-block;
    text-align: center;
    background-color: rgb(81, 182, 98);
    border-radius: 50px;
    padding: 15px 50px 15px 50px;
    color: white;
    margin: auto;
 }

 #p4{
    text-align: center;
    padding-bottom: 15px;
    margin: 15px 15px 15px 15px;
    border-bottom: 2px solid rgba(248, 4, 4, 0.562);
 }

 footer > h1{
    
    font-size:large;
    text-align: center;
    margin: 15px;
 }

 footer > p{
    text-align: center;
    margin: 10px;
 }

 @media screen and (min-width: 768px) {
    main{
        width: 600px;
        margin: auto;
    }

 }
