@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}

.c-bodypage{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "header"
    "main"
    "footer";
    height: 100vh;
    margin: 0px;
    grid-template-rows: 1fr 2fr 1fr;
}

body{
    background-color: rgba(182, 89, 46, 0.74);
}

.c-header{
    background-color: white;
    grid-area: header;
    border-radius: 15px 15px 0px 0px;
    height: 200px;
}
.imglogo{
    width: 291.5px;
    height: 156.5px;
    display: block;
    margin: 0px auto;
}


.titulo{
    text-align: center;
    margin: 10px;
    color: rgb(230, 4, 4);
    font-weight: normal;
}



.c-main{
    background-color: rgb(255, 255, 255);
    grid-area: main;
}

.p1{
    text-align: justify;
    margin: 15px 15px 15px 15px;
    padding-bottom: 15px;
    border-bottom: 2px solid rgba(248, 4, 4, 0.562);
 }

.p2{
    text-align: justify;
    margin: 15px 15px 15px 15px;
    padding-bottom: 15px;
    border-bottom: 2px solid rgba(248, 4, 4, 0.562);
 }

.p3{
    text-align: justify;
    margin: 15px 15px 15px 15px;
 }

 .botao{
    text-align: center;
    margin: 30px;
 }

 .c-main a{
    text-decoration: none;
    display: inline-block;
    text-align: center;
    background-color: rgb(81, 182, 98);
    border-radius: 50px;
    padding: 15px 50px 15px 50px;
    color: white;
    margin: auto;
 }

 .p4{
    text-align: center;
    padding-bottom: 15px;
    margin: 15px 15px 15px 15px;
    border-bottom: 2px solid rgba(248, 4, 4, 0.562);
 }

 /*================================= footer ======================================*/

 .c-footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    ".  iconemail  email ."   
    "cabecao  iconlocalizacao  localizacao ."
    ".   icontlefone numerotelefone ."
    ;
    padding: 8px 0px 0px 0px;
 }

.c-footer{
    background-color: rgb(255, 0, 0);
    grid-area: footer;
    border-radius: 0px 0px 15px 15px;
}

/*============================= imagem cabeça ================================*/

.c-footer div:nth-child(1){
    grid-row: 1 / -1;
}

.c-cabecao{
    background-color: rgb(255, 0, 0);
    grid-area: cabecao;

}

.imgcabcao{
    width: 144.75px;
    height: 162px;
    position: relative;
    top: 36px;
    object-position: -30px 5px;

}

 /*================================= fone ======================================*/

.c-iconemail{
    background-color: rgb(83, 31, 228);
    grid-area: iconemail;
    position: relative;
    right: 50px;
    margin: auto;
}
.c-email{
    grid-area: email;
    background-color: rgb(196, 216, 15);
    position: relative;
    right: 10px;
}

.imgweb{
    width: 40px;
    height: 40px;
    position: relative;
    top: 10px;
    right: 20px;
}


.tweb{
    color: white;
    position: absolute;
    top: 17px;
    font-size: 15px;
    right: 0px;
}

 /*================================= localizacao ======================================*/
/*
 .c-iconlocalizacao{
    background-color: rgb(255, 0, 0);
    grid-area: iconlocalizacao;
}

.imglocaliza{
    width: 40px;
    height: 40px;
    display: flex;
    position: relative;
    top: 10px;
    right: 20px;
}

.c-localizacao{
    background-color: rgb(255, 255, 255);
    grid-area: localizacao;
    background-color: rgb(255, 0, 0);
}

.tlocaliza{
    color: white;
    position: relative;
    bottom: 4px;
    font-size: 19px;
    right: 5px;
}

 /*==================================== email =========================================*/
/*
 .c-icontlefone{
    background-color: rgb(255, 0, 0);
    grid-area: icontlefone;
}

.imgfone{
    width: 40px;
    height: 40px;
    display: flex;
    position: relative;
    top: 10px;
    right: 20px;
}

.c-numerotelefone{
    background-color: rgb(36, 165, 182);
    grid-area: numerotelefone;
    background-color: rgb(255, 0, 0);
}

.tfone{
    color: white;
    position: relative;
    top: 17px;
    font-size: 19px;
    right: 5px;
}
*/
 /*======================= mediaQuery =======================*/
@media screen and (min-width: 768px) {
    .c-bodypage{
        width: 600px;
        margin: auto;
    }

 }














